---
---

@import "{{ site.theme }}";

:root {
    --marker-color: hotpink;
	--text-color: dimgrey;
    --header-color: hotpink;
    --link-color: cornflowerblue;
    --background-color: aliceblue;
}

body {
    font-family: monospace;
    background-color: var(--background-color);
	color: var(--text-color);
}

a:any-link {
    color: var(--link-color);
}

li {
	padding-bottom: 0.5em;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li::marker {
    color: var(--marker-color);
}

summary {
	 font-size: 1em;
	 font-weight: bold;
}

details {
	margin-bottom: 2em;
}

details>div {
	padding: 0.5em;
}

details:has(+details) {
	margin-bottom: 1.2em;
}

h1, h2, h3, h4, summary {
	color: var(--header-color);
}

summary, h3, h4 {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--header-color);
	text-decoration-thickness: 2px;
}

details:open::details-content {
	border-width: 1px;
	border-style: dashed;
	border-color: var(--header-color);
	padding-right: 13px;
	margin-top: 20px;
	margin-left: 1em;
}
